</div>
<script>
   let sms_html = ``;
    /* let tabla = ``;
    let filas = document.getElementById("filas");
  let formulario = document.getElementById("form");
    formulario.addEventListener("submit", e =>{
        e.preventDefault();
        let productos ={
            titulo: e.target[0].value,
            precio: e.target[1].value,
            url: e.target[2].value
        }
        if(productos.titulo == "" || productos.precio == "" || productos.url == "" ){
            alert("Un campo está incompleto");
        }
      armarTabla(productos)
    })

    function armarTabla(data){
  tabla += `
          <tr>
            <th>${data.titulo}</th>
            <th>${data.precio}</th>
            <th><img src="${data.url}" alt="" style="height: 50px; width: 50px;"></th>                        
          </tr>
          `

    filas.innerHTML = tabla
} */

let socket = new io();
let parrafo = document.getElementById("parrafo")
let form_data_user = document.getElementById('data_user')

        form_data_user.addEventListener("submit", e =>{
            e.preventDefault();
            let chat = {
                mail: e.target[0].value,
                nombre: e.target[1].value,
                apellido: e.target[2].value,
                edad: e.target[3].value,
                alias: e.target[4].value,
                avatar: e.target[5].value,
                text: e.target[6].value
            }               
            if(chat.mail == "" || chat.message == ""){
              alert("Un campo incompleto");
            }
            socket.emit("nuevoChat", chat)
        })

        socket.on("iniciarChat", data => {
            if(data.length > 0){
              
                fill_messageInit(data)
            } 
          })

        socket.on("mensaje", data =>{
          console.log(data)
          fill_message(data)
        })

          function fill_message(data){
            //let sms_html = ``;
            //for(const sms of data){
                sms_html += `<p><b>${data.mail}</b>|${data.hora}|:<i> ${data.text} </i> <img src="${data.avatar}" alt="" style="height: 50px; width: 50px;"></p>`
           // }
            parrafo.innerHTML = sms_html
        }

        function fill_messageInit(data){
           
            for(const sms of data){
                sms_html += `<p><b>${sms.mail}</b>|${sms.hora}|:<i> ${sms.text} </i> <img src="${sms.avatar}" alt="" style="height: 50px; width: 50px;"></p>`
            }
            parrafo.innerHTML = sms_html
        }
</script>
</body>
</html>