<div class="container" style="background-color: rgb(7, 211, 133); ">
    
         
        <div>
            <h1 style="color: rgb(6, 59, 19);">Bienvenido </h1>
            <p style="color:rgb(6, 59, 19)"> correo: </p>
               
        </div>
        <div style="text-align: right;">
            <a href="/auth/olvidar" class="btn btn-primary">deslogear</a>
        </div>
</div>